body {
    background-image: url(HanoiPic.jpg);
    background-size: 100%;
    margin: auto;
    width: 50%;
    padding: 5%;
    text-align: center;
}
.empDiv {
    background-color: black;
    border: 3px inset green;
    width: auto;
    height: auto;
    padding: 5vh;
}

form {
    display: flex;
    justify-content: center;
    background-color: black;
    
}